<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    
  
    <title>Ebay MarketPlace</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="stylesheets/style.css" rel="stylesheet">
  <script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="angularjs/index.js"></script>
</head>
  <body ng-app="mainApp" ng-controller="mainController">
      <div class="container">
      <div class="row ebay-header">
      	<div class="col-md-12">
      	<span>
      	<ul class="header-list-left">
      	<span>
      		<li>

      			<span> Hi! <a href ="/signIn">Sign in</button> or <a href="/Register" class="tile">Register</a>
      			</span>
      		</li>
      		<li>
      			<a href="#"><span> Daily Deals</span>
      		</li>
      	</span>
      	</ul>
      	<ul class="header-list-right">
      	<span>
      		<li>
      		<span class="glyphicon glyphicon-shopping-cart"></span>
       		<li>
       		<span class="glyphicon glyphicon-bell"> </span> 
       		</li>
       		<li>
      			<a href="#"> My Ebay</a> 
       		</li>
       		
      	</span>
      	</ul>
      	</span>
      	</div>
      	</div>
      	<br>
    	<div class="row ebay-top">
    		<div class="col-md-12" style="height:200px;">
    		<div class="table-responsive">
 			 <table class="table">
  			 <tbody>
  			 	<tr>
  			 		<td>
  			 			<a href="#"><img src="/img/logo.png" height="60%" width="60%"></a>
  			 			
  			 		</td>
  			 		<td>
  			 		<span>
  			 		Shop by category<input type="text" size="100px" name="searchquery" placeholder="Search..." style="width:60%">
  			 		<button class="btn btn-primary"> Search!</button></span>
  			 		</td>
  			 		
   			 	</tr>
  			 	</tbody>
			</table>
    		</div>	
    		    				
    		
    			</div>

    		
    	</div>
    	<div class="row ebay-main" style="height:200px;">
    	 	<div class="col-md-2">
    			<p> Shop by category</p>
    		</div>
    	</div>
    	<div class="row" style="height:400px;">
    		<div class="col-md-6">
    			<h1> Main tab</h1>
    		</div>
    	</div>
    	<div class="row" style="height:200px;">
    		<div class="col-md-2">
    			<p>Footer area</p>
    		</div>
    	</div>


    </div>




  </body>
</html>